.hero{
    width: 100%;
    height: 30rem;
    overflow: hidden;
    display: flex;
    background: linear-gradient(to top, #0D0D0D 10%, #010101 100%);
    display: flex;
    flex-wrap: no-wrap;
    padding: 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    position: relative;
    overflow: hidden;

    &__item{
        height: 100%;
        width: 72rem;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 6px 6px 0 0;
        transition: transform .24s linear;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform-origin: top;
        // background-image: url('../../../public/banner2.jpg');
        animation: transitionSlider 16s infinite;
        z-index: 1;

        &:hover{
            transform: scale(1.04);

            @media (width <= 1300px) {
                transform: scale(1.02);
            }
        }
    }
}