.nav{
    border-top: var(--brd-top-size) solid #a00000;
    background: rgba(0, 0, 0, 0.179);    
    padding: .8rem 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--height-nav);
    gap: 4rem;

    @media (width <= 1100px) {
        gap: 1.4rem;
    }

    &__logo{
        align-self: flex-start;

        img{
            width: 14.8rem;
        }
    }

    &__item{
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #adadad;
        position: relative;
        text-decoration: none;

        @media (width <= 900px) {
            font-size: 1.2rem;
        }

        &:hover{
            color: var(--color-yellow);
            transform: translateY(1px);

            &::before{
                content: '';
                width: 100%;
                height: var(--brd-top-size);
                background-color:  var(--color-yellow);
                position: absolute;
                top: -46px;
                left: 0;
            }
        }

        @media (width >= $bp-large) {
            font-size: 1.08rem;
        }

        @media (width <= 760px) {
            display: none;
        }
    }

    .nav__menu{
        fill: white;
    }

    &__search{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-input{
            width: 20rem;
            border: none;
            border-bottom: 1px solid #adadad;
            outline: none;
            font-size: 1.44rem;
            background-color: #0000003b;
            padding: .8rem;
            caret-color: #adadad;
            transition: border-bottom .4s;
            color: #adadad;
            background-image: url('https://res.cloudinary.com/dlejpqwlh/image/upload/v1696355673/search_iopqyz.svg');
            background-position: right;
            background-repeat: no-repeat;
            background-size: 10%;

            &:focus{
                border-bottom: 1px solid #a00000;
            }
        }

        //on input-seach
        @media (width <= 1200px) {
            display: none;
        }
    }
}

.animated-banner::before{
    content: '';
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: slideToLeft 100s infinite linear;
    background-repeat: no-repeat;
    background-size: unset;
    background: black;
    background-image: var(--before-bg-image);
    z-index: -1;
}