.nav{
    border-top: var(--brd-top-size) solid #a00000;
    background: rgba(0, 0, 0, 0.179);    
    padding: .8rem 2rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 8.8rem;
    gap: 3rem;

    &__logo{
        align-self: flex-start;

        img{
            width: 12rem;
        }
    }

    &__item{
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #adadad;
        position: relative;

        

        &:hover{
            color: var(--color-yellow);
            transform: translateY(1px);

            &::before{
                content: '';
                width: 100%;
                height: var(--brd-top-size);
                background-color:  var(--color-yellow);
                position: absolute;
                top: -3.9rem;
                left: 0;
            }
        }

        @media (width >= $bp-large) {
            font-size: 1.08rem;
        }
    }

    &__search{
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-input{
            width: 24rem;
            border: none;
            border-bottom: 1px solid #adadad;
            outline: none;
            font-size: 1.25rem;
            background-color: #0000003b;
            padding: .8rem;
            caret-color: #adadad;
            transition: border-bottom .4s;
            color: #adadad;
            background-image: url('search.svg');
            background-position: right;
            background-repeat: no-repeat;
            background-size: 10%;

            &:focus{
                border-bottom: 1px solid #a00000;
            }
        }

        &-icon{
            // fill: white;
        }
    }
}

.animated-banner::before{
    content: '';
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: slideToLeft 100s infinite linear;
    background-repeat: repeat;
    background-size: unset;
    background-image: url('header-banner.png');
    z-index: -1;
}