.container{
    flex-grow: .2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0 0 1.6rem;
    background-color: #0D0D0D;
    gap: .8rem;
}

.social-media{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
     
    &__item{
        border-radius: 8px 0 0 8px;
    }

    &__item:nth-child(1){
        height: 5rem;
        background-color:  #333a53; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: var(--color-white);
        text-align: center;
    }

    &__discord-box{
        margin: .4rem;
        padding: 1.4rem;
        flex-grow: 1;
        
        &:hover{
            background-color: #7289DA;
            border-radius: 4px;
            position: relative;
            color: transparent;
            
            &::after{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 100%;
                background-image: url('discord.svg');
                background-repeat: no-repeat;
                background-position: center;
                transform: scale(.8);
            }
        }
    }

    &__facebook-box{
        margin: .4rem;
        padding: 1.4rem;
        flex-grow: 1;

        &:hover{
            background-color: #69688F;
            border-radius: 4px;
            position: relative;
            color: transparent;

            &::after{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 100%;
                background-image: url('facebook.svg');
                background-repeat: no-repeat;
                background-position: center;
                transform: scale(.65);
            }
        }
    }
    
    &__item:nth-child(2){
        height: 8rem;
        width: 100%;
        background-image: url('creators-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.ranking{
    height: 100%;
    background-color: #010101;
    border-radius: 24px 0 0 24px; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-box{
        margin-top: -20rem;
        width: 100%;
        height: 64vh;
        padding-top: 1.6rem;

        &__header{
            display: flex;
            width: 100%;
            gap: .8rem;
            padding: 1.2rem 0 1.2rem .8rem;
            justify-content: space-between;
            background: linear-gradient(to right, #AA0E18 0%, #aa0e18ce 48%, #771218 100%); //#AA0E18;
        }

        &__logo{
            width: 2.4rem;
            background-image: url('flame.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__title{
            flex-grow: 1;
            font-size: 2rem;
            font-weight: 500;
            color: white;
        }

        &__titles{
            background-color: #771218;
            padding: 1.6rem 0;
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: .4rem;
        }

        &__item{
            width: 110%;
            height: 100%;
            transform: scale(.9);
            display: flex;
            justify-content: flex-start;
            gap: 2.4rem;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            padding: 1.6rem 1.2rem;

            &:hover{
                background-color: #690F13
            }

            &:nth-child(1),&:nth-child(2),
            &:nth-child(3) {
                &::after{
                    width: 2.8rem;
                    height: 2.8rem;
                    content: '';
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(150%, .50%);
                    background-color: var(--color-black);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }

            &:nth-child(1) {    
                &::after{
                    background-image: url('first.png');
                }
            }
    
            &:nth-child(2) {
                &::after{
                    background-image: url('second.png');
                }
            }
    
            &:nth-child(3) {
                &::after{
                    background-image: url('third.png');
                }
            }
        }

        &__image{
            height: 14rem;
            width: 10rem;
            // padding: 1.2rem;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;

            &::before{
                width: 2.8rem;
                height: 2.8rem;
                content: '';
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(80%,-50%);
                background-color: var(--color-black);
            }
        }

        &__info{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            color: var(--color-white);
        }

        &__name{
            font-size: 1.6rem;
            font-weight: 500;
        }

        &__name-hover{
            color: var(--color-yellow)
        }

        &__author{
            color: var(--color-small-impact);
            font-size: 1.2rem;
            font-weight: 400;
        }

        &__views{
            line-height: 2.5;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            gap: .4rem;
        }

        &__logo-ranking{
            width: 1.2rem;
            height: 1.2rem;
            background-image: url('flame.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}