@import "custom/variables";

@import "core/base";
@import "core/typography";
@import "core/utilities";

@import "animations/slideToLeft";

@import "pages/favorites";
@import "pages/top-ranking";
@import "pages/viewer";

@import "layout/nav";
@import "layout/hero";
@import "layout/updates";
@import "layout/footer";
@import "layout/main";
@import "layout/sidebar";
@import "layout/listContent";
@import "layout/manga-title";

@import "components/tag";
